*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
}

/* -------------------------NAVBAR------------------------- */
.navbar{
  background-color: #FFE6E6;
  width: 100%;
  height: 10vh;
  display: flex;
  /* justify-content: space-between; */
}

/* .all-nav{
  height: 3vh;
} */

.logo{
  width: 10vh;
}

#search-bar{
  background-color: whitesmoke;
} 

.icono-lupa{
  width: 3vh;
} 

.icono-gorila{
  width: 3vh;
}

.icono-cesta{
  width: 3vh;
}

/* -------------------------HERO IMAGE------------------------- */
.heroimg {
  display: flex;
  height: 50%;
  
}

button > .heroimg {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*-------------------------- DESTACADOS & TITULO -------------------------*/
