*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
}

.navbar{
  background-color: #F1AE89;
  width: 100%;
  height: 30vh;
}

.hero-img{
  background-color: #DFF3E3;
}

/* #btn-hero-img{
  position: absolute;   hace falta media queries
  bottom: 15rem;
  margin:  2rem;
} */
